
// Fonts
// Here you can import any font you want and update the _variables.scss file
// to make use of those fonts across the application.
//@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
//@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,700");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Custom Vanguard styles
@import "components/general";
@import "components/card";
@import "components/button";
@import "components/avatar";
@import "components/input";
@import "components/list-group";
@import "components/nav-tabs";
@import "components/navbar";
@import "components/sidebar";
@import "components/switch";
@import "components/sweet-alert";
@import "components/table";
@import "components/util";
@import "components/datepicker";

@include media-breakpoint-down(md) {
  .sidebar:not(.expanded) {
    margin-left: -250px;
  }

  .content-page {
    margin-left: 0;
  }
}

@media (min-width: 1200px) and (max-width: 1600px) {

  .widget {
    height: 128px;

    .row .text-muted {
      width: 80px;
      text-align: right;
      word-wrap: normal;
    }
  }
}
#header-menu {
  margin-top: 70px;
  clear: both;
  background-color: #000066;
  .navbar {
    background: none;
    border:none;
    .navbar-nav {
      .nav-item {
        .nav-link {
          color: #fff;
        }
      }
    }
  }
}
#content {
  margin-top: 10px;
  background-color: $body-bg;
}
.sub-menu {
  position: absolute;
  display: block;
  padding: 0.5rem 0.75rem;
  white-space: nowrap;
  cursor: pointer;
  background-color: #f1f8f9;
  min-width: 230px;
  z-index: 9;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05);
  .nav-item {
    &:hover {
      color: #fff !important;
      background-color: #000066;
      .nav-link {
        color: #fff !important;
    }
    }
    .nav-link {
      color: #000066 !important;
  }
  }
}
.modal-body {
  padding: 2rem;
  background-color: rgb(243, 242, 242);
}
.m-subheader {
  padding: 30px 0 20px 0;
  .m-subheader__title {
    display: inline-block;
    padding: 7px 25px 7px 0;
    font-family: Roboto;
    font-weight: 300;
    font-size: 1.55rem;
    font-weight: 500;
    vertical-align: middle;
    margin: 0 15px 0 0;
    color: #3f4047;
}
.m-subheader__daterange {
  display: inline-block;
  border-radius: 2rem;
  padding: 5px;
  cursor: pointer;
  background: #f8f8fb;
  .m-subheader__daterange-label {
    padding: 0.7rem 0.75rem 0.7rem 1.5rem;
}
}
}
.hr-panel-heading {
  margin-left: -20px;
  margin-right: -20px;
  margin-top: 17px;
}
.card {
  .card-title {
    background: #f9fafc;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom: 1px solid #e4e5e7;
    padding: 15px 15px 15px 20px;
    margin-bottom: 0;
    // box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.10);
    color: #656565;
    .btn-outline-secondary {
      color: #6c757d;
      /* background-color: transparent; */
      /* background-image: none; */
      /* border-color: #6c757d; */
      border: 1px solid rgb(221, 219, 218);
      transition: border .15s linear;
      border-color: rgb(221, 219, 218);
      background-color: rgb(255, 255, 255);
      &:hover {
        background-color: rgb(243, 242, 242);
        color: rgba(27, 82, 151, 1);
      }
  }
  
  }
  .card-subheader {
    padding: 1rem 1rem;
    margin: 1rem -1rem -1rem;
    margin-top: 0;
    .other-details {
      display: flex;
      list-style: none;
      li {
        display: list-item;
    text-align: -webkit-match-parent;
    padding-right: 2rem;
    span {
      color: rgb(62, 62, 60);
      font-size: .75rem;
      padding-right: .5rem;
      padding-top: .25rem;
    }
      }
    }
  }

}
.mrn-top-30 {
  margin-top: 30px;
}

.customer-tabs {
  li {
    a {
      .menu-icon {
        font-size: 15px;
        width: 12px;
        margin-top: 1px;
        margin-right: 16px;
    }
    }
  }
}
//datatable fix
.dataTables_wrapper {
  
  .dt-buttons {
    display: inline-block;
    margin-bottom: 15px;
  }
  .dataTables_filter {
    display: inline-block;
    float: right;
    margin-bottom: 15px;
  }
  .dataTables_info {
    float: left;
    padding-top: 3.1em !important;
  }
  .dataTables_length {
    float: left;
    padding-top: 3.1em;
    padding-left: 10%;
  }
  .dataTables_paginate {
  
    margin-top: 50px !important;
  }
}
table.dataTable thead>tr>th {
  color: #4e75ad;
  background: #f6f8fa;
  vertical-align: middle;
  border-bottom: 1px solid;
  border-color: #ebf5ff!important;
  font-size: 13px;
  padding-top: 9px;
  line-height: 1.42857143;
  padding-bottom: 8px;
}
table.dataTable thead>tr>td.sorting_asc, table.dataTable thead>tr>td.sorting_desc, table.dataTable thead>tr>th.sorting_asc, table.dataTable thead>tr>th.sorting_desc {
  background: #ebf5ff;
  font-weight: 500;
}
.dataTables_length select, .uneditable-input, input[type=color], input[type=date], input[type=datetime-local], input[type=datetime], input[type=email], input[type=file], input[type=month], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week], select.form-control, textarea.form-control {
  border: 1px solid #bfcbd9;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #494949;
  font-size: 14px;
  -webkit-transition: border-color .2s cubic-bezier(.645,.045,.355,1);
  transition: border-color .2s cubic-bezier(.645,.045,.355,1);
  line-height: 1;
  height: 36px;
}
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}
.dataTables_filter input:focus {
  width: 160px!important;
}
.table>tbody>tr>td, .table>tfoot>tr>td {
  padding: 10px 10px 5px 10px;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  border-top: 1px solid #ebf5ff;
}
.bootstrap-select .btn {
  background: #fff!important;
  border: 1px solid #bfcbd9!important;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 4px 10px;
  line-height: 2;
  height: 36px;
  text-transform: inherit;
  padding-left: 10px;
}
.bootstrap-select .dropdown-toggle .filter-option {
  position: static;
  top: 0;
  left: 0;
  float: left;
  padding-right: inherit;
  height: 100%;
  width: 100%;
  text-align: left;
  margin-right: 0;
}
.input-group-text {
  border: 1px solid #bfcbd9;
  background-color: #fbfdff;
  color: #97a8be;
}
.dataTables_length select, .uneditable-input, input[type=color], input[type=date], input[type=datetime-local], input[type=datetime], input[type=email], input[type=file], input[type=month], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week], select.form-control, textarea.form-control {
  height: 37px;
}
#tab_logic .form-control[readonly],#tab_logic_total .form-control[readonly] {
  border: 0;
  background: transparent;
  box-shadow: none;
  padding: 0 10px;
  font-size: 15px;
}
.table.items thead {
  background: #415164;
  color: #fff;
  border: 0;
}
.table.items thead>tr>th {
  border: 0!important;
  color: #fff!important;
}
.table.items .main {
  margin-top: 35px;
  background-color: #fbfdff;
}
.table.items .bootstrap-select .btn-default, .table.items input:not(.input-transparent), .table.items textarea {
  border: 1px solid #bfcbd9!important;
}
table.items tr.main td {
  padding-top: 25px;
  padding-bottom: 25px;
}
.bottom-transaction {
  background: #fbfdff;
}
.btn-bottom-toolbar {
  position: fixed;
  bottom: 0;
  padding: 15px;
  -webkit-box-shadow: 0 -4px 1px -4px rgba(0,0,0,.1);
  box-shadow: 0 -4px 1px -4px rgba(0,0,0,.1);
  background: #fff;
  width:82.5%;
  z-index: 5;
  border-top: 1px solid #ededed;
}